:root {
    --primary: #E50914;
    --secondary: #FFFFFF;
    --dark: #050505;
}

.c-bg-dark {
    background-color: var(--dark);
}

.font-primary{
    font-family: 'Inter' , sans-serif;
}

.font-secondary{
    font-family: 'Montserrat' , sans-serif;
}

.c-text-primary{
    color: var(--primary);
}

.c-text-secondary{
    color: var(--secondary);
}

.c-text-dark{
    color: var(--dark);
}

.c-bg-primary{
    background-color: var(--primary);
}

.c-bg-secondary{
    background-color: var(--secondary);
}

.c-bg-dark{
    background-color: var(--dark);
}

.c-border-primary{
    border-color: var(--primary);
}

.c-border-secondary{
    border-color: var(--secondary);
}

.c-border-dark{
    border-color: var(--dark);
}

/* show view */

.custom-div{
    
}


/* tom select categories */

.ts-control {
    background-color: rgba(0, 166, 62, 0.05) !important; /* Il tuo verde trasparente */
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}
.ts-dropdown {
    background-color: #1a1a1a !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.ts-dropdown .active {
    background-color: #00A63E !important;
    color: white !important;
}
.ts-control .item {
    background-color: #00A63E !important; /* Colore dei tag selezionati */
    color: white !important;
    border-radius: 4px !important;
}


/* card book */

.custom-img-card {
    height: calc(100%/2) !important;
    width: calc(100%/2.5) !important;
}